<div class="container">

  <div class="header-cont">

    <div class="header" *ngFor="let title of header">
      {{ title }}
    </div>

  </div>

  <div class="data-cont">

    <div class="data-row" *ngFor="let value of data">

      <div class="data" *ngFor="let title of header">
        {{ value[title] }}
      </div>

      <div *ngIf="rowExpand">
        <ng-container *ngTemplateOutlet="rowExpandCard; context: { $implicit : value}"></ng-container>
      </div>

    </div>

  </div>

  <ng-template #rowExpandCard let-rowData>
    DATA : {{ rowData | json }}
    <ng-content></ng-content>
  </ng-template>

</div>