<div class="container">

  <div class="header-cont">

    <div class="expand-header" *ngIf="rowExpand">
      <i> {{ '  ' }} </i>
    </div>

    <div class="header" *ngFor="let title of header">
      {{ title }}
    </div>

  </div>

  <div class="data-cont">

    <div class="data-row" *ngFor="let value of data">

      <div class="data-row-card">
        <div class="expand-header" *ngIf="rowExpand">
          <i *ngIf="!value.row_exapnd"
            (click)="value.row_exapnd = !value.row_exapnd">
            {{ ' > ' }}
          </i>
          <i *ngIf="value.row_exapnd"
            (click)="value.row_exapnd = !value.row_exapnd">
            {{ ' ^ ' }}
          </i>
        </div>

        <div class="data" *ngFor="let title of header">
          {{ value[title] }}
        </div>
      </div>

      <div class="row-expand-card" *ngIf="!value.row_exapnd">
        <ng-container *ngTemplateOutlet="rowExpandTemp; context: { $implicit : value}"></ng-container>
      </div>

    </div>

  </div>

</div>