.container {
  display: flex;
  flex-direction: column;
}

.expand-header {
  width: 20px;
}

.header-cont {
  display: flex;
}

.header {
  padding: 4px;
  border: 1px solid;
  flex-basis: 25%;
}

.data-cont {
  display: flex;
  flex-direction: column;
}

.data-row {
  display: flex;
  flex-direction: column;
}

.data-row-card {
  display: flex;
}

.data {
  padding: 4px;
  border: 1px solid;
  flex-basis: 25%;
}

.row-expand-card {
  display: flex;
  flex-basis: 100%;
}